.AdminNav{
    flex: 0.2;
    .AdminNav-content{
        .AdminNav-header{

        }
        .AdminNav-body{
            .AdminNav-link{
                padding: 10px;
                font-weight: 600;
                cursor: pointer;
                &:hover{
                    background-color: gray;
                    color: #fff;
                }
                button{
                    border: none;
                    width: 100%;
                    background-color: transparent;
                }
            }
        }
    }
}